<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row text-center text-md-start">
            <!-- Sección About -->
            <div class="col-12 col-md-4 col-lg-4 mb-4">
                <h6 class="text-uppercase font-weight-bold mb-3">About</h6>
                <p>
                    En Tienda Sena, nos comprometemos a fomentar la creatividad y el emprendimiento estudiantil, logrando
                    reconocimientos a nivel mundial.
                </p>
            </div>
            <!-- Sección Enlaces -->
            <div class="col-12 col-md-4 col-lg-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold mb-3">Enlaces de interés</h6>
                <p><a href="tu_cuenta.ejs" class="text-white text-decoration-none">Tu cuenta</a></p>
                <p><a href="afiliate.ejs" class="text-white text-decoration-none">Afíliate con nosotros</a></p>
                <p><a href="calificaciones.ejs" class="text-white text-decoration-none">Calificaciones</a></p>
                <p><a href="ayuda.ejs" class="text-white text-decoration-none">Ayuda</a></p>
                <p><a href="panel_admin.ejs" class="text-white text-decoration-none">Admin</a></p>
            </div>
            <!-- Sección Contacto -->
            <div class="col-12 col-md-4 col-lg-3 mb-4">
                <h6 class="text-uppercase font-weight-bold mb-3">Contacto</h6>
                <p><i class="fas fa-home me-2"></i>Calatrava - Complejo Sur</p>
                <p><i class="fas fa-envelope me-2"></i>Tienda_info@soy.sena.com</p>
                <p><i class="fas fa-phone me-2"></i>+01 234 567 88</p>
            </div>
        </div>
    </div>
    <div class="text-center py-4 border-top">
        © 2023 Tienda Sena. Todos los derechos reservados.
    </div>
</footer>