<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- Archivos CSS personalizados -->
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/login.css" />
<title>Inicio</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6633654530665325"
     crossorigin="anonymous"></script>
