<!DOCTYPE html>
<html lang="en">

<body>
  <div id="notificaciones">
      <% if (typeof messages !== 'undefined' && messages.length > 0) { messages.forEach(function(message) { %>
          <div class="alert alert-<%= message.tags && message.tags !== 'error' ? message.tags : 'danger' %> alert-dismissible fade show" role="alert">
              <%= message.text %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      <% }); } %>
  </div>
  <main>
    <%- body %>
  </main>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/app.js"></script>
</body>
</html>
