<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="Container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
<section class=" w-100 text-center p-3 fondo-animado">
      <div class="text-center p-5">
                <h1 class="p-3 display-4 fw-bold text-primary">Diseños que inspiran</h1>
          <p class="lead text-muted">Transformamos sueños en realidad: talento y creatividad en cada proyecto</p>
          <h3>
              <a class="btn btn-primary btn-lg mt-3" href="">
                  <i class="bi bi-pencil-square"></i> Únete a nuestra comunidad creativa
              </a>
          </h3>
</section>
<section class="w-100 text-center p-3 sect_2">
    <div class="">
        <div class="text-center">
          <h5>Despliega tu creatividad</h5>
          <h1>Impulsa tu proyecto</h1>
          <p>Explora nuestras soluciones innovadoras para cubrir las necesidades de tu emprendimiento</p>
        </div>
            <div class="container">
          <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                  <div class="card h-100">
                      <div class="row g-0 h-100">
                          <div class="col-md-4 d-flex justify-content-center align-items-center">
                              <img src="https://api.iconify.design/fluent:design-ideas-32-filled.svg" class="img-fluid h-50 w-50" style="max-width: 100px; max-height: 100px;" alt="...">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body d-flex flex-column justify-content-between">
                                  <h5 class="card-title">Diseño Innovador</h5>
                                  <p class="card-text">Aprovecha el diseño vanguardista para destacar tu proyecto</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <div class="row g-0 h-100">
                          <div class="col-md-4 d-flex justify-content-center align-items-center">
                              <img src="https://api.iconify.design/streamline:quality-education-solid.svg" class="img-fluid h-50 w-50" style="max-width: 100px; max-height: 100px;" alt="...">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body d-flex flex-column justify-content-between">
                                  <h5 class="card-title">Calidad Garantizada</h5>
                                  <p class="card-text">Construye sobre una base de calidad y fiabilidad</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <div class="row g-0 h-100">
                          <div class="col-md-4 d-flex justify-content-center align-items-center">
                              <img src="https://api.iconify.design/lsicon:marketing-filled.svg" class="img-fluid h-50 w-50" style="max-width: 100px; max-height: 100px;" alt="...">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body d-flex flex-column justify-content-between">
                                  <h5 class="card-title">Marketing Estratégico</h5>
                                  <p class="card-text">Utiliza estrategias efectivas para llegar a tu público objetivo</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <div class="row g-0 h-100">
                          <div class="col-md-4 d-flex justify-content-center align-items-center">
                              <img src="https://api.iconify.design/majesticons:map-marker-area.svg" class="img-fluid h-50 w-50" style="max-width: 100px; max-height: 100px;" alt="...">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body d-flex flex-column justify-content-between">
                                  <h5 class="card-title">Productos Regionales</h5>
                                  <p class="card-text">Cada detalle resalta la autenticidad y la belleza de nuestro patrimonio</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        
    </div>
</section>
<section>
  <!-- Aqui van los productos -->
</section>

<section class="sect4 " style="background-color: rgb(255, 247, 238);">
  <div class="w-100 text-center p-3">
    <div class="text-center">
      <h2>Confiado por Emprendedores de Todo el Mundo</h2>
      <p>Nuestro compromiso con la excelencia se refleja en la confianza y satisfacción de nuestros clientes.</p>
    </div>
    <div class="card-group container gap-2 ">
      <div class="card text-white card_sect4">
        <img src="/static/assets/moda.jpg" alt="Fondo de tarjeta">
        <div class="card_img_overlay">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Este es el párrafo dentro de la imagen de fondo.</p>
        </div>
      </div>
      <div class="card text-white card_sect4">
        <img src="/static/assets/moda.jpg" alt="Fondo de tarjeta">
        <div class="card_img_overlay">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Este es el párrafo dentro de la imagen de fondo.</p>
        </div>
      </div>
      <div class="card text-white card_sect4">
        <img src="/static/assets/moda.jpg" alt="Fondo de tarjeta">
        <div class="card_img_overlay">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Este es el párrafo dentro de la imagen de fondo.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h3><a class="text-decoration-none pt-3" href="#">Ver todas las opiniones de nuestros clientes</a></h3>
  </div>
</section>
<section class="text-center p-3 sect5 fondo-animado">
  <div class="row justify-content-around">
      <div class="col-10 col-md-5 m-4">
          <h1>Saluda a tienda SENA</h1>
          <h3>¿Interesado en colaborar?</h3>
          <h5>Lunes a Viernes, 9:00 am a 6:00 pm</h5>
          <p>Nuestro equipo esta dispobible para tus consultas</p>
      </div>
      <div class="col-10 col-md-5">
          <h5>Envianos un mensaje</h5>
          <p>tiendasenaccc@gmail.com</p>
          <div class="d-flex flex-column ">
              <h5><a href="#">Instagram</a></h5>
              <h5><a href="#">Facebook</a></h5>
              <h5><a href="#">Linkedin</a></h5>              
          </div>
      </div>
  </div>
</section>
<section>
  <div class="section mg-2 mt-5 mb-5 sect6 "> 
      <div class="text-center">
          <h1>Explora Nuestras Categorias</h1>
          <h3><a class="text-decoration-none pt-3" href="#">VER TODOS LOS SERVICIOS</a></h3>
      </div>
      <div class="card-group container gap-4">
          <div class="card">
              <img src="static/assets/innovacion.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Innovación</h5>
                <p class="card-text">50 Proyectos</p>
              </div>
          </div>
          <div class="card">
              <img src=" static/assets/arte_diseño.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Arte y Diseño</h5>
                <p class="card-text">30 Proyectos</p>
              </div>
          </div>
          <div class="card">
              <img src=" static/assets/tecnologia.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tecnologia</h5>
                <p class="card-text">50 Proyectos</p>
              </div>
          </div>
          <div class="card">
              <img src=" static/assets/moda.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Moda</h5>
                <p class="card-text">100 Proyectos</p>
              </div>
          </div>
      </div>
  </div>
</section>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>